<div id="schoolOnWheel"></div>

<section class="container">
    <div class="row">
        <div class="col folio">
            <span>
                <h3>Unniti</h3>
                <br />
                <p>
                    The objective of the project is to create awareness about the negative
                    impact of early marriage on the health and well being of girls, among
                    the people in East Singhbhum district of Jharkhand. Also, stress needs
                    to be put on education, gender equality and changing the patriarchal
                    mindset. <br />

                    It is very important for us to do this work since Jharkhand is home to
                    a large number of tribes where this custom is still actively
                    prevalent.This is also prevalent in the industrial city of Jamshedpur
                    and the settlements both within and on the priphery of the city.
                </p>

                <img width="100%" src="../../../assets/images/gallery/Unniti/unn6.jpg" />

                <div>
                    <p>
                        Early and child marriage are the worst forms of exploitation since
                        it denies the young an opportunity to grow and empower themselves,
                        in the name of custom,tradition,security for the girl child and
                        patriarchy. <br />

                        Early marriages are a big threat to the human rights and well-being
                        of children. It challenges the basic right of these children to
                        education, health, protection and development.
                    </p>
                    <br /><br />
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn1.jpg" alt="" />
                    </div>
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn2.jpg" alt="" />
                    </div>
                </div>
                <div>
                    <p>
                        Early marriages have serious negative consequences on several
                        levels: Education and economy:Because they are married early, little
                        or no focus is given to their education, hence the girl is left to
                        be completely dependent on her husband financially and is not part
                        of any decision both about her and her children”s lives. Pulling the
                        girls of the schools perpetuates the cycle of poverty and thereby,
                        curtails the overall economic growth of the nation.
                        <br />
                        Sexuality and violence:Young girls with low levels of education are
                        more likely to experience violence by an intimate partner. A young
                        girl who is still struggling to understand her own anatomy is forced
                        to make conjugal relations and often show signs of post-traumatic
                        stress and depression owing to sexual abuse by her older partner.
                        Neither their bodies are prepared nor their innocent little minds.
                        Forced sexual encounters lead to irreversible physical damage. The
                        psychological damage cannot even be comprehended.The girls are three
                        times more likely to experience marital rape. The girls who marry
                        after 18 years are more likely to talk to their husbands about
                        contraception, discuss when to have children and how many. Young
                        brides face a higher risk of contracting HIV and other sexually
                        transmitted diseases owing to her marriage with an older man with
                        more sexual encounters.Young girls who are less than 15 years are
                        five times more likely to die during child birth than those in the
                        20s. The infant mortality rate is very high because the young body
                        of a woman is biologically not capable of maternity.
                        <br />
                        Owing to their tender age, some of them are sexually exploited by
                        other men in the family and they are too scared to go out and
                        complain. Some of the girls who marry young also join the bandwagon
                        of perpetuating cruelty against women. In the absence of proper
                        education, little do they know that the gender of a child depends on
                        the father and not the mother. Sex determination and female
                        foeticide continue, for a girl child would possibly further add to
                        their woes.
                    </p>
                    <br /><br />
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn3.jpg" alt="" />
                    </div>
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn4.jpg" alt="" />
                    </div>
                </div>
                <div>
                    <p>
                        The project can be achieved by creating a trained group of twenty
                        young female facilitators who can go out into the community and
                        spread awareness about the impact of early marriage on the health
                        and well being of girls.These youth facilitators can also create
                        awareness about the importance of education in reducing the
                        incidence of early marriage in girls.
                        <br />
                        The major beneficiaries will be people of communities and areas
                        where there is a very high incidence of early marriage of girls.
                        They would include both males and females of the community and
                        family of the targeted group and certain education institutions as
                        well where the parents of the girl students will be targeted.
                    </p>
                    <br /><br />
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn5.jpg" alt="" />
                    </div>
                    <div class="col-sm-6">
                        <img src="../../../assets/images/gallery/Unniti/unn6.jpg" alt="" />
                    </div>
                </div>

                <div>
                    <p>
                        Direct outreach – 700 approximately <br />
                        Indirect beneficiaries – 2000 approximately

                        <mat-card>
                            <mat-card-title class="text-center">METHODOLOGY</mat-card-title>
                            <table>
                                <tr>
                                    <th>Month</th>
                                    <th>Work</th>
                                </tr>
                                <tr>
                                    <td>Month 1</td>
                                    <td>
                                        1.Mobilisation in colleges and communities for getting the
                                        group of girls interested in coming for the orientation.-
                                    </td>
                                </tr>
                                <tr>
                                    <td>Month 1&2</td>
                                    <td>
                                        <li>
                                            2.Orientation in two colleges and our office premises
                                            about the project and the roles and responsibilities of
                                            the girls.
                                        </li>
                                        <li>
                                            3.Selection of a group of girls who will attend the
                                            workshop .
                                        </li>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Month 3</td>
                                    <td>4.conducting a workshop to train the selected girls.</td>
                                </tr>
                                <tr>
                                    <td>Month 4</td>
                                    <td>5.mentoring for action projects.</td>
                                </tr>
                                <tr>
                                    <td>Month 5</td>
                                    <td>6.Monitoring the action projects</td>
                                </tr>
                                <tr>
                                    <td>Month 5&6</td>
                                    <td>
                                        7.Reviewing and assessment of the projects and their impact
                                        on the selected target group.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Month 6</td>
                                    <td>8.closure event and felicitation of all participants.</td>
                                </tr>
                            </table>
                        </mat-card>
                    </p>
                    <br /><br />
                </div>
            </span>
        </div>
    </div>
</section>

<section class="container"></section>