<div id="schoolOnWheel"></div>


<section class="container">
    <div class="row">
        <div class="col folio">
            <span>
                <h3>School On Wheels</h3>
                <br>
                <p>The objective of the project is to motivate children from slums, bustees and streets to get enrolled
                    in formal education spaces at the end of the program by developing in them an interest for learning
                    and school. The School on Wheels is a fully equipped bus that visits identified location and holds
                    classes using fun, innovative teaching methodologies to urge these children to begin their learning
                    journey. It aims to give them their first experience of formal learning. The project attempts to
                    take education to out of school. </p>
    
                <div>
                    <div id="myCarousel5" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel5" data-slide-to="1"></li>
                            <li data-target="#myCarousel5" data-slide-to="2"></li>
                        </ol>
    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
    
                            <div class="item active">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="Los Angeles"
                                    style="width:100%;">
    
                            </div>
    
                            <div class="item">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="Chicago"
                                    style="width:100%;">
    
                            </div>
    
                            <div class="item">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="New York"
                                    style="width:100%;">
    
                            </div>
    
                        </div>
    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel5" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel5" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <p>
                    children who dwell on the very fringes of society.The project basically aims to enable the learner
                    to develop an interest for learning and formal schooling in the target group, to ensure basic
                    learning in Language, Math’s and General science to enable them to come to school entry levels, to
                    develop and integrate the use of four language skills i.e. reading, listening, speaking, writing and
                    to enhance the ability to handle casual and formal situations in terms of basic grooming, hygiene
                    and etiquettes, organizers said.</p>
            </span>
    
        </div>
    </div>
</section>