<section>

    <section class="container">
        <div class="head text-center">
            <span>About Us</span>
            <p>Get to know Us ;)</p>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-5">
                <div class="mobileShow">
                    <div class="text-center">
                        <img src="./../../assets/images/gallery/leader.jpg" style="height: 200px" alt="founder " />
                    </div>
                    <br><br>
                </div>
                <div class="webShow">
                    <img style="margin-left: -150px;" src="./../../assets/images/gallery/leader.jpg" height="600px"
                        alt="Shubham Kumar">
                </div>
            </div>
            <div class="col-sm-7 folio">
                <p>Who am We?</p>
                <span>
                    <h3>We Are People For Change, a non-profitiable-organisation</h3>
                    <br>
                    <p>Text is the form of data which has existed for millenniums throughout the human history. All the
                        sacred texts influencing all the religions, all the compositions of poets and authors, all the
                        scientific explanations by the brightest minds of their times, all the political documents which
                        define our history and our future, and all kind of explicit human communication, these “All”s
                        define the importance of data available in the form of what we call</p>
                </span>
                <hr />
                <div>
                    <h5>We have worked with:</h5>

                    <div class="wrapper">
                        <li class="wrapper1">
                            <mat-icon>play_arrow</mat-icon> <span>UNICEF</span>
                        </li>
                        <li class="wrapper1">
                            <mat-icon>play_arrow</mat-icon> <span>TSRDS</span>
                        </li>
                        <li class="wrapper1">
                            <mat-icon>play_arrow</mat-icon> <span>TATA MOTORS</span>
                        </li>
                        <li class="wrapper1">
                            <mat-icon>play_arrow</mat-icon> <span>COLLEGES </span>
                        </li>
                        <li class="wrapper1">
                            <mat-icon>play_arrow</mat-icon> <span>SCHOOLS </span>
                        </li>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5"> <span>Name : </span> <span>Someone Kumar (co-founder)</span></div>
                    <div class="col-sm-7"> <span>Email : </span> <span>someone@someone.com</span></div>
                </div>
                <br>
                <div class="resume">
                    <a href="tel:+910000000000">CONTACT US</a>
                </div>
            </div>
        </div>
    </section>

<br><br><br><br>
    <section class="our-team">
        <div class="head text-center">
           
            <p>OUR TEAM</p>
        </div>


   <div class="container">
    <div class="row text-center">
        <div class="col"> <img src="../../assets/images/gallery/leader.jpg" > <br> <br> <mat-card-title>SOMEONE</mat-card-title>  <p>founder</p> </div>
        <div class="col"> <img src="../../assets/images/gallery/leader.jpg" > <br> <br> <mat-card-title>SOMEONE</mat-card-title>  <p>founder</p> </div>
        <div class="col"> <img src="../../assets/images/gallery/leader.jpg" > <br> <br> <mat-card-title>SOMEONE</mat-card-title>  <p>founder</p> </div>
        <div class="col"> <img src="../../assets/images/gallery/leader.jpg" > <br> <br> <mat-card-title>SOMEONE</mat-card-title>  <p>founder</p> </div>
        <div class="col"> <img src="../../assets/images/gallery/leader.jpg" > <br> <br> <mat-card-title>SOMEONE</mat-card-title>  <p>founder</p> </div>
    </div>
   </div>



    </section>

</section>



<!-- <section>
    <div class="about-section">
        <div class="head text-center">
            <span>About Us</span>
            <p>Get to know Us ;)</p>
        </div>
        <p>People for Change works towards enriching children and youth for personal and social development through creating
            self to society journeys and citizenship action projects. People for change constantly engages with the
            Government, UNICEF, TSRDS,Tata Motors, colleges and schools in various projects, in Jharkhand, to bring about a
            progressive change in the society.</p>
    </div>
    
    <div class="container">
    
        <div class="head text-center">
            <span>Our Team</span>
            <p>Get to know Us ;)</p>
        </div>
        
    
    
        <div class="row">
            <div class="col">
                <mat-card class="example-card">
    
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Founder</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
    
                    <mat-card-actions>
                        <a href="tel:+910000000000"> <button mat-flat-button color="primary">CONTACT</button> </a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="example-card">
    
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Co-Founder</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
    
                    <mat-card-actions>
                        <a href="tel:+910000000000"> <button mat-flat-button color="primary">CONTACT</button> </a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="example-card">
    
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Team Leader</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
    
                    <mat-card-actions>
                        <a href="tel:+910000000000"> <button mat-flat-button color="primary">CONTACT</button> </a>
                    </mat-card-actions>
                </mat-card>
            </div>
    
        </div>
    
    </div>
    
</section> -->