<mat-sidenav-container>
  <mat-sidenav style="position: fixed; background: rgb(224, 224, 224);" #sidenav mode="over">
    <img style="height: 40px; margin-top: 20px; cursor: pointer" routerLink="/"
      src="./../assets/images/logo-main.jpg" />
    <hr />
    <nav>
      <a routerLink="">HOME</a>
      <a routerLink="owr-work">OWR WORK</a>
      <a routerLink="about">ABOUT</a>
      <a routerLink="contact">CONTACT</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content opened>
    <mat-toolbar>
      <img style="height: 50px; cursor: pointer; padding-left: 20px" routerLink="/"
        src="./../assets/images/logo-main.jpg" />
      <header>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFill></div>
      </header>
      <div class="webShow top-navbar">
        <a routerLink="">HOME</a>
        <a routerLink="owr-work">OWR WORK</a>
        <a routerLink="about">ABOUT</a>
        <a routerLink="contact">CONTACT</a>
      </div>

      <mat-icon class="mobileShow" color="primary" (click)="sidenav.toggle()">menu</mat-icon>
    </mat-toolbar>
    <section style="padding-top: 10px;">

      <router-outlet></router-outlet>
      
    </section>
    <section class="footer">
      <p>Deployed in 💙 with Angular</p>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>