<div id="comicsForChange"></div>
<br><br>

<section class="container">
    <div class="row">
        <div class="col folio">
            <span>
                <h3>Comics For Change</h3>
                <br>
                <p>Comics for change is a skill development workshop which aims at using comics to help children voice
                    their innermost concerns, emotions and fears and articulate it to bring it to the fore.The workshop
                    aims at teaching every student how to make a wall poster comic from scratch and to effectively use
                    this kill throughout their lives to give voice to their innermost concerns. <br><br>

                    We Conduct this program with the expertise of World Comics (Finland) and have already conducted this
                    workshop across various school in Jharkhand. We are emboldened in our vision to bring this medium
                    within reach of all children by the tremendous response that our workshops have received. This skill
                    once learnt has and can be used by students to give voice to topics that are closest to them and
                    concern them most. </p>

                <div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="Los Angeles"
                                    style="width:100%;">

                            </div>

                            <div class="item">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="Chicago"
                                    style="width:100%;">

                            </div>

                            <div class="item">
                                <img src="./../../../assets/images/gallery/school on wheels.jpg" alt="New York"
                                    style="width:100%;">

                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <p>
                    Grassroots Comics as a medium stands out distinctly from mainstream comics. These comics are created
                    by “You and Me”, common masses themselves. Individuals from diverse have used this powerful medium
                    to express their own self. This has served as one of the most popular communication tool for several
                    organizations, schools and even people’s movement. Comics have given a new direction to
                    representation of silences thereby creating a revolution in itself. <br><br>

                    These comics are easy–to-make, reproduced by simple photocopier and distributed in a limited
                    demarcated area, which invites local debates and refection among people from different
                    socio-economic stratum of the society.

                
                    <li>The simplicity of its approach lies in the fact that it just requires a pen, paper and something
                        to say or in other words, requires the lines to speak for themselves.</li>
                    <li>What makes these comics different from a professional creation is the ownership on the content
                        as well as local settings and drama.
                    </li>
                    <li>The comics are pasted up in all possible locations in your school for visibility and exhibitions
                        can also be arranged to solely exhibit the work done by students.
                    </li>
               
                <strong>
                    One more important thing in these comics is that it creates an awesome string between the creator of
                    the communication and the readers and helps parents and teachers know in depth about the views and
                    perceptions of students on topics that affect them deeply.
                </strong>

                Comics for Change expanded to ten schools this year and empowered over a thousand children with skills
                to make grassroot comics.



                </p>
            </span>

        </div>
    </div>
</section>