<section class="home">
    <!-- <img src="../../assets/images/main-page.jpg" > -->

    <div class="homecontent">
        <h1> Start Learning for future brights </h1>

        <a href=""> <button mat-flat-button>Donate Us</button></a>
        <a routerLink="about"> <button mat-flat-button color="primary">Know Us</button> </a>
    </div>
</section>
<div class="space"></div>
<section class="gallery">
    <div class="head text-center">
        <span>Some Adventures</span>
        <p>Take A Closer Look</p>
    </div>
    <div class="space"></div>

    <div class="container">
        <div class="row text-center">
            <div class="col"> <img src="../../assets/images/gallery/ABC_4750.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSC_0078.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSC_0099.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0340.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0497.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0520.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0522.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0551.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/DSCN0577-e1546681453257.jpg" > </div>

            <div class="col"> <img src="../../assets/images/gallery/ComicsForChange.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/Entrepreneurship Development Programme.jpg" >
            </div>
            <div class="col"> <img src="../../assets/images/gallery/Nayi Raahein.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/school on wheels.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/sow2.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/Unmanifesto.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/Unniti.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/ComicsForChange1.jpg" > </div>
            <div class="col"> <img src="../../assets/images/gallery/school on wheels1.jpg" > </div>
        </div>
    </div>

</section>
<div class="space"></div>
<div class="space"></div>
<section class=" about">
    <div class="space"></div>
    <div class="head text-center">
        <span>Who Are We ?</span>
        <p>Get to know Us ;)</p>
    </div>
    <div class="space"></div>
    <div class="space"></div>


    <div class=" container text-center about-content">
        <p>People for Change works towards enriching children and youth for personal and social development through
            creating self to society journeys and citizenship action projects. People for change constantly engages with
            the Government, UNICEF, TSRDS,Tata Motors, colleges and schools in various projects, in Jharkhand, to bring
            about a progressive change in the society.</p>
    </div>
    <div class="space"></div>
    <div class="space"></div>
</section>



<div class="space"></div>
<section>
    <section class="contain">
        <div class="head text-center">
            <div>
                <span>What We do ?</span>
                <p>We may not be perfect, but surely of some help :)</p>
            </div>



            <div class="wrapper ">
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/school on wheels.jpg" alt="Avatar" />

                                    <h2>School On Wheels</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>The objective of the project is to motivate children from slums, bustees and
                                            streets to get enrolled in formal education spaces at the end of the program
                                            by developing in them an interest for learning and school. </h2>

                                    </div>
                                    <div class="space"></div>
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/school on wheels.jpg" alt="Avatar" />

                                    <h2>Samjho Toh Express</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>Samjho Toh Express is an initiative by Community – The Youth Collective and
                                            its forum members to explore cross border friendships and engage young
                                            people on the issues of social inclusion in order to build vibrant
                                            eco-systems across India to understand each other. </h2>

                                    </div>
                                    <!-- <div class="space"></div> -->
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/ComicsForChange.jpg" alt="Avatar" />

                                    <h2>Comics for change</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>Comics for change is a skill development workshop which aims at using comics
                                            to help children voice their innermost concerns, emotions and fears and
                                            articulate it to bring it to the fore.The workshop aims at teaching every
                                            student how to make a wall poster comic from scratch and to effectively use
                                            this kill throughout their lives to give voice to their innermost concerns.
                                        </h2>

                                    </div>
                                    <!-- <div class="space"></div> -->
                                    <!-- <hr> -->
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/Nayi Raahein.jpg" alt="Avatar" />

                                    <h2>Nayi Raahein</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>‘Nayi Raahein’ is an intensive forty eight hour workshops to be held in the
                                            school premises.</h2>

                                    </div>
                                    <div class="space"></div>
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/Entrepreneurship Development Programme.jpg"
                                        alt="Avatar" />

                                    <h2>E.D.P</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>Entrepreneurship Development Programme </h2>
                                        <ul>
                                            <li>Learning</li>
                                            <li>TeamWork</li>
                                        </ul>

                                    </div>
                                    <div class="space"></div>
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/Unniti.jpg" alt="Avatar" />

                                    <h2>Unniti</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>The objective of the project is to create awareness about the negative
                                            impact of early marriage on the health and well being of girls, among the
                                            people in East Singhbhum district of Jharkhand. Also, stress needs to be put
                                            on education, gender equality and changing the patriarchal mindset. </h2>

                                    </div>
                                    <!-- <div class="space"></div> -->
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wrapper1">
                    <div class="cards1">
                        <div class="flip-card1">
                            <div class="flip-card-inner1">
                                <div class="flip-card-front1">

                                    <img src="./../../assets/images/gallery/Unmanifesto.jpg" alt="Avatar" />

                                    <h2>Unmanifesto</h2>
                                </div>
                                <div class="flip-card-back1">
                                    <div>
                                        <h2>Unmanifesto is a campaign supported by UNPFA and Community. With super
                                            support from UNPFA and Community youth collectively launched a campaign that
                                            made youngsters in Jamshedpur sit up and take notice of politics and
                                            governance</h2>

                                    </div>
                                    <!-- <div class="space"></div> -->
                                    <hr>
                                    <button mat-flat-button> KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            </div>

        </div>
        <br /><br />
    </section>
</section>