<div id="schoolOnWheel"></div>



<section class="container">
    <div class="row">
        <h3>Entrepreneurship Development Programme</h3>
        <div class="col-sm-6">
            <img src="../../../assets/images/gallery/Entrepreneurship Development Programme.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <h2> Learning </h2>

            <p>Entrepreneurship Development Programme is a programme meant to develop business and entrepreneurial
                abilities among the people. In other words, it refers to inculcation, development, enhancing and
                improving of entrepreneurial skills into youths who need to establish and successfully an enterprise.
                Thus, the concept of entrepreneurship development programme involves equipping a person with the
                required skills and knowledge needed for starting and running the enterprise.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <h2> Team Work </h2>

            <p>Business enterprises was started by three schools under our school entrepreneurs programs and MNPS won
                the best enterprise award from TATA STEEL Excellence and also the British Council Award and were
                rewarded with a trip to London for the same. Under this programme, MNPS started composting and our
                selling it to Bageecha, while JHTS have started mushroom cultivation.This project is also being run in a
                college in Jamshedpur on a pilot basis.</p>
        </div>
        <div class="col-sm-6">
            <img src="../../../assets/images/gallery/team work.jpg" alt="">
        </div>
    </div>
</section>