<section>
    <div class="head text-center">
        <span>Our Work</span>
        <p>We may not be perfect, but surely of some help :)</p>
    </div>
    <br /><br />
    <div>
        <app-school-on-wheels></app-school-on-wheels>
    </div>
    <div class="color">
        <app-samzho-to-express></app-samzho-to-express>
    </div>
    <div>
        <app-comics-for-change></app-comics-for-change>
    </div>
    <div class="color">
        <app-nayi-raahein></app-nayi-raahein>
    </div>
    <div>
        <app-edp></app-edp>
    </div>
    <div class="color">
        <app-unmanifesto></app-unmanifesto>
    </div>
    <div>
        <app-unniti></app-unniti>
    </div>
</section>